@import '~foundation/scss/foundation';

$gray: #e2e3de;

header {
  height: 100px;
  border-bottom: 2px solid $gray;
  margin-bottom: 20px;

  button.save {
    position: absolute;
    right: 50px;
    top: 25px;
  }

}

.superMarkedRange {
  background: yellow;
}

body {

  prosemirror {
    height: 500px;
    min-width: 468px;

    .annotation {
      background: yellow;
    }

  }

  .annotation-comment {
    display: block;
    min-height: 150px;
    width: 100%;
    border: 2px solid $gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;


    .resolve {
      padding: 10px;
      border-bottom: 2px solid $gray;

      input {
        margin: 0;
      }

      label {
        display: inline-block;
      }
    }
    .comments {
      .comment {
        padding: 5px;
      }
      input[type=text] {
        border: none;
        background: $gray;

      }
      button {
        display: none;
      }
    }
  }
}